<p id="notice"><%= notice %></p>

    <div class="panel panel-default" width="500px">
    	<h2>I'm the Scrum Master</h2>
    </div>

    <div class="panel panel-default" width="500px">
    	<h2>I'm the Product Owner</h2>
    </div>

    <div class="panel panel-default" width="500px">
    	<h2>I'm Developing or Testing</h2>
    </div>
