<div class="jumbotron">
 <h1>Welcome to SMS!</h1>
    	<p>The Scrum Management System will allow you to manage your Scrum projects in an easy, interactive and intuitive way.</p>
    	<p>
    	<div align="center">
	    	<%= link_to 'Sign Up', new_user_registration_path, :class => 'btn btn-large btn-primary'%>
	    	<%= link_to 'Sign In', new_user_session_path, :class => 'btn btn-large btn-default'%>
   		</div>
    	</p>
  </div>
</div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Projects</h2>
         <ul class="list-group">
			  <li class="list-group-item">Create new projects</li>
			  <li class="list-group-item">Manage your projects</li>
			  <li class="list-group-item">Assign employees to projects</li>
			  <li class="list-group-item">Get reports on their progress</li>
		 </ul>

        </div>
        <div class="col-md-4">
          <h2>Reports</h2>
         <ul class="list-group">
			  <li class="list-group-item">Check the progress on your projects</li>
			  <li class="list-group-item">Get graphical reports</li>
			  <li class="list-group-item">Get the reports you want, when you want them</li>
			  <li class="list-group-item">Your reports are ready to print, or export as images!</li>
		 </ul>
       </div>
        <div class="col-md-4">
          <h2>User Stories</h2>
         <ul class="list-group">
			  <li class="list-group-item">Manage your project's stories</li>
			  <li class="list-group-item">Assign them to employees</li>
			  <li class="list-group-item">Keep track of their burndown</li>
			  <li class="list-group-item">Prioritize by time and/or points</li>
		 </ul>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; ITCR 2014</p>
      </footer>
    </div> <!-- /container -->